body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    overflow-y: scroll;
}

.inactive {
    display: none;
}

.main-body {
    background-color: #FFFFFF;
    min-height: 60vh;
}

.img-perfil{
    height: auto;
    width: 200px;
}

.rodape {
    background-color: #F5f5f5;
}